<script type="text/x-handlebars-template">

	<div class="tokenfield form-control" id="{{id}}" {{#if name}}name="{{name}}"{{/if}}>
		<textarea id="input_41" type="text" class="form-control input_text"
			name="property[41]" tabindex="-1" style="position: absolute; left: -10000px;">
		</textarea>
		<input type="text" tabindex="-1" style="position: absolute; left: -10000px;">
		<input type="text" class="token-input" autocomplete="off" placeholder="" id="input_41-tokenfield" tabindex="0" style="min-width: 60px; width: 0px;">
	</div>

</script>